/* APP */

.mainStyle {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.loading{
    width: 50%;
    margin-left: 38%;
    margin-top: 50%;
}

/* header */

.footericon{
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-bottom: 0px;
}

/* footer */

.footerButton {
    margin-top: -5px;
    margin-bottom: -2px;
}

.footerText {
    text-align: center;
    color: white;
    margin-top: -10px;
    margin-bottom: -5px;
}