/* APP */

.mainStyle {
    margin-bottom : 70px;
    margin-top: 70px;
    text-align: center;
}

.loading{
    width: 50%;
    margin-left: 38%;
    margin-top: 50%;
}

/* header */

.mr-auto{
    text-align: center;
}

/* footer */

.footerButton {
    margin-top: -5px;
    margin-bottom: -2px;
}

.footericon{
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-bottom: 0px;
}

.footerText {
    margin-top: -5px;
    margin-bottom: -10px;
}

.footericonPhone {
    width: 18px;
    height: 18px;
    margin-top: -10px;
    margin-bottom: 0px;
    transform: rotate(90deg);
}

.carousel-caption {
    background: rgba(0, 0, 0, 0.2);
    
   }


.navbar{
    margin-bottom: 0px;
}

.landing{
    margin-bottom : 70px;
    margin-top: 70px;
}